.barnDoor{
   width:200px; height:200px;
}

.right {
  float: right;
}

.overlap-text {
  text-align: center;

}
.centered
{
  float:center;
  height:100%;
  width:100%;
}
.body {
  background-image: url("../img/barnBoard.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Avenir Black', 'Arial Black', sans-serif;
}

.table .th .td {
  margin: 5px;
}
