.barnDoor{
   width:200px; height:200px;
}

.right {
  float: right;
}

.container {
  text-align: center;

}
.centered
{
  float:center
}
.body {
  background-image: url("../img/barnBoard.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
